.Parent{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card div{
    margin: 5px;
    padding: auto;
}
.card p{
    text-wrap: wrap;
}
.Parent :last-child{
    margin-top: 20px;
}
