.Layout {
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   
    
}

.TopRow {
    display: flex;
    width: 100%; /* Ensures the top row takes full width of the container */
    justify-content: space-between; /* Spaces the left and right boxes */
}

.Leftbox, .Rightbox {
    margin: 10px;
    padding: 10px;
    /* width: calc(50% - 40px); */
     /* Adjusted width to account for margins */
     width: 60%;
}
.Leftbox h1{
    font-size: 40px;
    text-align: left;

}
.Leftbox h2{
    font-size: 20px;
    text-align: left;
}
.Rightbox div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Rightbox img {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 15%;
    align-content: center;
}
.Leftbox div p{
    text-wrap: wrap;
    font-size: 20px;
}

.ProNotionLogo{
    width: 35%;
    height: auto;
    display: block;
    border-radius: 15%;
    align-content: center;
}