.Parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.pricing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.testimonial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.payments{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}