.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.logo {
  flex-shrink: 0; /* Prevents the logo from shrinking */
}

.logo img.notion {
  height: 120px; /* Adjust as needed */
  width: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  margin-left: 20px; /* Space between menu items */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo {
  flex-shrink: 0;
}

.footer .logo img.notion2 {
  height: 140px; /* Adjust the size of the logo as needed */
  width: auto;
}

.footer .navigation {
  display: flex;
  align-items: center;
}

.footer .navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer .navigation ul li {
  margin-left: 20px; /* Space between menu items */
}

.pricing{
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 10px;

}
.wrapper-pricing{
  display: flex;
  justify-content: space-evenly;
}

.price-list{
  margin: 10px;
  padding: auto;
  text-align: center;
}

.plan{
  background-color: gainsboro;
}

.product img {
  height: 140px; /* Adjust the size of the logo as needed */
  width: auto;
}
.prduct{
  display: flex;
  justify-content: space-evenly;
}