
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
 
}
.header-nav li{
  margin: 10px;
  padding: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid white;
}
.header-nav li:hover{
  color: blueviolet;
  font-weight: bold;
  cursor:pointer;
  background-color:white ;
}
body{
  margin: 0;
  background-image: url("https://static.vecteezy.com/system/resources/previews/028/829/708/non_2x/nebula-galaxy-background-with-purple-blue-outer-space-cosmos-clouds-and-beautiful-universe-night-stars-ai-generative-free-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.main-header{
  font-family:'Courier New', Courier, monospace;
  font-size: 100px;
  margin: 20px;
  padding: 20px;
  animation: slide-in 3s ease-out forwards; /* Adjust timing and easing as needed */
}

@keyframes slide-in {
  from {
    transform: translateX(-100%); /* Starts off-screen to the left */
    opacity: 0; /* Starts out invisible */

  }

  to {
    transform: translateX(0); /* Ends at its original position */
    opacity: 1; /* Fully visible */
    border-top: 2px solid white;
    border-bottom: 2px solid white;

  }
}
.task-wrapper{
  border: 2px solid white;
  height: fit-content;
  width: fit-content;
  align-items: center;
}
.task{
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.checkbox{
  height:20px;
  width: 20px;
  border: solid 2px white;
  margin: 10px;
  padding: 10px;
}
.checkbox:hover{
  background-color: blueviolet;
}

.task-list{
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  
  
}