.WelcomePage
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 40px;
    height: 70vh;

}

.welcome-header
{
    width: 150vh;
    height: 50vh;
    border: 10px solid #000;
}