.welcome{
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-sub{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */
    padding: 12px;
    margin: 12px;
}

.welcome-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid blueviolet; */
    padding: 12px;
    margin: 12px;
}


/* .card{
    display: flex;
    justify-content: space-evenly;
    border: dotted white;
}

.card div{
    margin: 12px;
    padding: 12px;
    border: solid white;
}
*/

.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  padding: 12px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.card-item:hover {
  transform: scale(1.02);
}

.card-item:hover p {
  font-weight: bold;
}