.auth-parent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;

    height: 1200px
}

.button button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 50px;
}

.button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1px;
}

.auth-parent h1{
  margin-top: 20px;
  color : #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.auth{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.login-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.login-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.login-button {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}


.signup-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-parent h1 {
  margin-bottom: 20px;
}

.signup-parent form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup-parent input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.signup-parent button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-parent button:hover {
  background-color: #0056b3;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
width: max-content;

}
.price{
  text-decoration: none;
  color: white;
  background-color: #0056b3;
  padding: 10px;
  border-radius: 5px;
}
