.header-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    gap: 10px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.1); /* Adjusted to a purple color */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-filter:hover{
    color: #800080;
    cursor: pointer;

}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header-links a{
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;

}

.header-links a:hover{
    color: #800080; /* Adjusted to a purple color */
cursor: pointer;

}