.welcome-parent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    background-color: #f0f0f0;
}

.welcome-header{
    margin: 40px;
}

.welcome-body{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin: 20px;
    border: 1px solid #f0f0f0;
    height: 200px;
    width: 95%;
    border-radius: 10px;
}

.welcome-footer{
    margin: 40px;
} 

li{
    list-style-type: none;
    color: white;

}
.ol{
  text-align: center;
}

.list{
    display: inline;
    margin: 10px;
}

.icon{
    margin-left: 15px;
}

/* Style for the first welcome body */
.welcome-body:nth-child(1) {
    background-color: #d1d1f1; /* Slightly darker than parent background */
}

/* Style for the second welcome body */
.welcome-body:nth-child(2) {
    background-color: #bcbce7; /* Slightly darker */
}

/* Style for the third welcome body */
.welcome-body:nth-child(3) {
    background-color: #a7a7dd; /* Slightly darker */
}

/* Style for the fourth welcome body */
.welcome-body:nth-child(4) {
    background-color: #9292d3; /* Slightly darker */
}

/* Style for the fifth welcome body */
.welcome-body:nth-child(6) {
    background-color: #7d7dc9; /* Slightly darker */
}
.sub-info{
    text-align: center;
    margin: 10px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.infographic{
background-color: white;
  height: 400px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeIn 2s;
    border-radius: 20px;
    /* create a shadow */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.infographic img{
  width: max-content;
  height: max-content;
}

/* create a animation for the opacity to increase for the inforgraphic when loading */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.infographic img {
  animation: fadeIn 2s;
}

/* create hoover affect for inforgraphic images */
.infographic img:hover {
  transform: scale(1.1);
}