.main-section {
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  /* center this on the webpage */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF9F3;
    height:900px;
    width: 1600px;
}

