.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* space-between is used to create space between two divs */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2p solid black;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: solid 1px black;
    background-color: #FEF9F3;



}
.logo{
    position: left;
}
.Header_nav{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.Header_nav_item{
    margin: 10px;
    padding: 10px;
}

.Header_nav_item{
    color: black;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    text-decoration: none;
}
.Header_nav_item a:hover{
    background-color: #D2D3C9;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.Header_nav_item a{
    color: black;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    font-size: medium;
}