.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    border-top: solid 1px black;
    background-color: #FEF9F3;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    border-radius: 10px;


}
.Footer_logo{
    position: left;
    border-radius: 20px;

}

.Footer_nav_item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    align-content: center;
    align-items: center
}
.Footer_nav_item a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: medium;
}
.Footer_nav_item a:hover{
    background-color: #D2D3C9;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}