.sidebar-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #FEF9F3;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    width: 300px   ;
    height: 700px;
}
.sidebar-navigation-item{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:#A4B0A5;
    color: #2F4858;
    width: 90px;
    text-align: center;
    align-content: center;
    height: fit-content;
    
}

.sidebar-navigation-item:hover{
    background-color: #768D88    ;
    cursor: pointer;
    color: white;
}